*.ini
*.stcfg
*.sbf
~$*.*
*.pyc

# Latex temporary files
*.texpadtmp
*.aux
*.bit
*.blg*
*.bbl
*.lof
*.log
*.lot
*.glo
*.glx
*.gxg
*.gxs
*.idx
*.ilg
*.ind
*.out
*.url
*.svn
*.toc
*.nlo
*.lol
*.gz
*.fls
*.xdv
*.fdb*