<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.16.0.171715</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {559.27559471130371, 782.86138916015625}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2013-08-02 10:02:40 +0000</string>
	<key>Creator</key>
	<string>Mathias Buder</string>
	<key>DisplayScale</key>
	<string>1.000 cm = 1.000 cm</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{249.00565528869629, 330.5}, {19.137826919555664, 11}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>CMUClassicalSerif-Italic</string>
				<key>Size</key>
				<real>7</real>
			</dict>
			<key>ID</key>
			<integer>120</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 CMUClassicalSerif-Italic;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\i\fs16 \cf0 v
\fs10 \sub 1
\fs16 \nosupersub (k)}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{240.88782687144624, 319.75000000000023}, {27.255645800062609, 21.749999999999716}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>119</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.022827457640625326, -0.50000000000000178}</string>
					<string>{-0.022827457640625326, -0.50000000000000711}</string>
					<string>{-0.51150291664675507, 0.47701149425282807}</string>
					<string>{-0.49979285759345871, 0.47701149425282807}</string>
					<string>{-0.48808279854018366, 0.47701149425282807}</string>
					<string>{0.37158623847423478, 0.50000000000000355}</string>
					<string>{0.37158623847423122, 0.49999999999999822}</string>
					<string>{0.37158623847422767, 0.49999999999999822}</string>
					<string>{0.50000000000000178, 0.22413793103448398}</string>
					<string>{0.50000000000000178, 0.22413793103446977}</string>
					<string>{0.50000000000000178, 0.2241379310344751}</string>
					<string>{-0.022827457640614668, -0.50000000000000711}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{294.80890846252441, 328.03216552734375}, {19.137826919555664, 11}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>CMUClassicalSerif-Italic</string>
				<key>Size</key>
				<real>7</real>
			</dict>
			<key>ID</key>
			<integer>118</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 CMUClassicalSerif-Italic;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\i\fs16 \cf0 x
\fs10 \sub 1
\fs16 \nosupersub (k)}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{286.74598573656863, 322.24999999999983}, {32.004014263431145, 19.750000000000114}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>117</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{0.078177915780216267, -0.5}</string>
					<string>{0.078177915780212714, -0.50000000000001421}</string>
					<string>{-0.50984723215749206, 0.411392405063296}</string>
					<string>{-0.49987457000242763, 0.411392405063296}</string>
					<string>{-0.48990190784737564, 0.411392405063296}</string>
					<string>{-0.21865984718925802, 0.5}</string>
					<string>{-0.21865984718925802, 0.5}</string>
					<string>{-0.21865984718925802, 0.5}</string>
					<string>{0.49999999999999645, 0.50000000000000355}</string>
					<string>{0.5, 0.49999999999998579}</string>
					<string>{0.5, 0.50000000000001776}</string>
					<string>{0.078177915780218044, -0.5}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{340.6121826171875, 330.5}, {19.137826919555664, 11}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>CMUClassicalSerif-Italic</string>
				<key>Size</key>
				<real>7</real>
			</dict>
			<key>ID</key>
			<integer>116</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 CMUClassicalSerif-Italic;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\i\fs16 \cf0 v
\fs10 \sub 0
\fs16 \nosupersub (k)}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{332.49435419993745, 319.75000000000023}, {27.255645800062609, 21.749999999999716}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>115</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.022827457640625326, -0.50000000000000178}</string>
					<string>{-0.022827457640625326, -0.50000000000000711}</string>
					<string>{-0.51150291664675507, 0.47701149425282807}</string>
					<string>{-0.49979285759345871, 0.47701149425282807}</string>
					<string>{-0.48808279854018366, 0.47701149425282807}</string>
					<string>{0.37158623847423478, 0.50000000000000355}</string>
					<string>{0.37158623847423122, 0.49999999999999822}</string>
					<string>{0.37158623847422767, 0.49999999999999822}</string>
					<string>{0.50000000000000178, 0.22413793103448398}</string>
					<string>{0.50000000000000178, 0.22413793103446977}</string>
					<string>{0.50000000000000178, 0.2241379310344751}</string>
					<string>{-0.022827457640614668, -0.50000000000000711}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{383.4970703125, 330.5}, {19.137826919555664, 11}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>CMUClassicalSerif-Italic</string>
				<key>Size</key>
				<real>7</real>
			</dict>
			<key>ID</key>
			<integer>113</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 CMUClassicalSerif-Italic;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\i\fs16 \cf0 x
\fs10 \sub 0
\fs16 \nosupersub (k)}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{377.744103947197, 321.50000000000006}, {30.643722972359001, 22.499999999999659}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>114</integer>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{0.12837978499453406, -0.5}</string>
					<string>{0.12837978499453406, -0.50000000000000178}</string>
					<string>{-0.51028933552920819, 0.30644718792867032}</string>
					<string>{-0.49987398155467666, 0.30644718792867032}</string>
					<string>{-0.48945862758015224, 0.30644718792867032}</string>
					<string>{0.5, 0.5}</string>
					<string>{0.5, 0.5}</string>
					<string>{0.5, 0.5}</string>
					<string>{0.12837978499453229, -0.5}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{150.56077112264711, 372}, {23.520603999423191, 11}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>CMUClassicalSerif-Italic</string>
				<key>Size</key>
				<real>7</real>
			</dict>
			<key>ID</key>
			<integer>112</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 CMUClassicalSerif-Italic;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\i\fs16 \cf0 y
\fs10 \sub N
\fs16 \nosupersub (k)}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{270.81886863708496, 372}, {19.137826919555664, 11}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>CMUClassicalSerif-Italic</string>
				<key>Size</key>
				<real>7</real>
			</dict>
			<key>ID</key>
			<integer>110</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 CMUClassicalSerif-Italic;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\i\fs16 \cf0 y
\fs10 \sub 1
\fs16 \nosupersub (k)}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{363.29326438903809, 372}, {19.137826919555664, 11}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>CMUClassicalSerif-Italic</string>
				<key>Size</key>
				<real>7</real>
			</dict>
			<key>ID</key>
			<integer>109</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 CMUClassicalSerif-Italic;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\i\fs16 \cf0 y
\fs10 \sub 0
\fs16 \nosupersub (k)}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{155.25, 351}, {14.142135623730951, 10}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>CMUClassicalSerif-Italic</string>
				<key>Size</key>
				<real>7</real>
			</dict>
			<key>ID</key>
			<integer>108</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 CMUClassicalSerif-Italic;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\i\fs12 \cf0 M
\fs8 \sub N}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{368.8621826171875, 351}, {8, 10}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>CMUClassicalSerif-Italic</string>
				<key>Size</key>
				<real>7</real>
			</dict>
			<key>ID</key>
			<integer>107</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 CMUClassicalSerif-Italic;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\i\fs12 \cf0 M
\fs8 \sub 0}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{275.63780784606934, 351}, {8, 10}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>CMUClassicalSerif-Italic</string>
				<key>Size</key>
				<real>7</real>
			</dict>
			<key>ID</key>
			<integer>106</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 CMUClassicalSerif-Italic;\f1\fnil\fcharset0 CMUSerif-RomanSlanted;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\i\fs12 \cf0 M
\f1\b\fs8 \sub 1}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{324.00001049041748, 347.5}, {5, 11}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>CMUClassicalSerif-Italic</string>
				<key>Size</key>
				<real>8</real>
			</dict>
			<key>ID</key>
			<integer>103</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 CMUClassicalSerif-Italic;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\i\fs16 \cf0 d}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{222.75, 359.5}, {11, 11}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>CMUClassicalSerif-Italic</string>
				<key>Size</key>
				<real>7</real>
			</dict>
			<key>ID</key>
			<integer>102</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 CMUClassicalSerif-Italic;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\i\fs16 \cf0 Nd}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>100</integer>
			<key>Points</key>
			<array>
				<string>{174, 368.75}</string>
				<string>{361.25, 368.75}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>0.69999998807907104</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>FilledArrow</string>
					<key>TailScale</key>
					<real>0.70000004768371582</real>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>99</integer>
			<key>Points</key>
			<array>
				<string>{347.22672285456071, 298.22556931581994}</string>
				<string>{347.48905336494556, 297.39355593962381}</string>
				<string>{347.67787250210944, 296.54185015751682}</string>
				<string>{347.79174108587335, 295.67692675654007}</string>
				<string>{347.8297987240428, 294.80536563800956}</string>
				<string>{347.7917455729019, 293.93381270274296}</string>
				<string>{347.67787625950803, 293.06888665035132}</string>
				<string>{347.48905576443246, 292.21717832030009}</string>
				<string>{347.22672661738653, 291.38516400154839}</string>
				<string>{346.89287566020204, 290.5791852162248}</string>
				<string>{346.49005558103306, 289.8053672480803}</string>
				<string>{346.02131778137817, 289.0696028271056}</string>
				<string>{345.49024303003495, 288.37749021536928}</string>
				<string>{344.90086521036835, 287.73429733424882}</string>
				<string>{344.25767719806589, 287.14492330859588}</string>
				<string>{343.56555982722068, 286.61384825539562}</string>
				<string>{342.8297968878386, 286.14511438531935}</string>
				<string>{342.05598192513048, 285.74229208042226}</string>
				<string>{341.25, 285.40844077937425}</string>
			</array>
			<key>Rotation</key>
			<real>290</real>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>0.25</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>97</integer>
			<key>Points</key>
			<array>
				<string>{323.33335399627686, 298.5}</string>
				<string>{357.25, 298.5}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>13</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>0.25</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{337.62503051757812, 289.6363525390625}, {5.3333334922790527, 8.7272729873657227}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>89</integer>
			<key>ImageID</key>
			<integer>5</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>86</integer>
			<key>Points</key>
			<array>
				<string>{279.8877841027184, 334.14347457885742}</string>
				<string>{279.8877841027184, 348.5}</string>
			</array>
			<key>Rotation</key>
			<real>90</real>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>0.25</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{320.73500823974609, 298.25}, {14.142135623730951, 18}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>Vertical</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>ID</key>
			<integer>82</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf390
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset128 HiraKakuProN-W3;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 \'81\'45}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
		</dict>
		<dict>
			<key>AllowLabelDrop</key>
			<false/>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>79</integer>
			<key>Points</key>
			<array>
				<string>{320.125, 305.875}</string>
				<string>{320.76819462575503, 306.46437613477974}</string>
				<string>{321.46030387236749, 306.99545070260172}</string>
				<string>{322.19606781314315, 307.46418300080558}</string>
				<string>{322.96988664920144, 307.86701246362907}</string>
				<string>{323.77586386784839, 308.20085866220825}</string>
				<string>{324.60787637493223, 308.46319143693324}</string>
				<string>{325.45958528443697, 308.65200931826206}</string>
				<string>{326.32451144563476, 308.76588268509317}</string>
				<string>{327.19606781186548, 308.80393218557919}</string>
				<string>{328.0676241780962, 308.76588268509317}</string>
				<string>{328.93255033929398, 308.65200931826206}</string>
				<string>{329.78425924879872, 308.46319143693324}</string>
				<string>{330.61627175588256, 308.20085866220825}</string>
				<string>{331.42224897452951, 307.86701246362907}</string>
				<string>{332.19606781058781, 307.46418300080558}</string>
				<string>{332.93183175136346, 306.99545070260172}</string>
				<string>{333.62394099797592, 306.46437613477974}</string>
				<string>{334.26713562373095, 305.875}</string>
			</array>
			<key>Rotation</key>
			<real>45</real>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{287.11149592677953, 312.27185046249383}, {25.263157171191143, 8}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>10</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Line</key>
			<dict>
				<key>ID</key>
				<integer>85</integer>
				<key>Position</key>
				<real>0.47662368416786194</real>
				<key>RotationType</key>
				<integer>4</integer>
			</dict>
			<key>Rotation</key>
			<real>315</real>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>6</integer>
			<key>Points</key>
			<array>
				<string>{290.75, 356.5}</string>
				<string>{361.25, 356.5}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>HeadScale</key>
					<real>0.69999998807907104</real>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>FilledArrow</string>
					<key>TailScale</key>
					<real>0.70000004768371582</real>
					<key>Width</key>
					<real>0.5</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>85</integer>
			<key>Points</key>
			<array>
				<string>{279.8877841027184, 334.14347457885742}</string>
				<string>{322.95387530645547, 293.93443250351214}</string>
			</array>
			<key>Rotation</key>
			<real>315</real>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>Pattern</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>FilledArrow</string>
					<key>Width</key>
					<real>0.25</real>
				</dict>
			</dict>
			<key>Tail</key>
			<dict>
				<key>ID</key>
				<integer>86</integer>
			</dict>
		</dict>
		<dict>
			<key>AllowConnections</key>
			<string>NO</string>
			<key>Bounds</key>
			<string>{{125, 205}, {329, 178}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>3</integer>
			<key>ImageID</key>
			<integer>1</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>6</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image5.pdf</string>
		<string>image2.pdf</string>
		<string>image1.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Ebene 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2013-09-13 13:07:30 +0000</string>
	<key>Modifier</key>
	<string>Mathias Buder</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{595.27559471130371, 841.86138916015625}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Arbeitsfläche 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Arbeitsfläche 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{49, 87}, {1337, 874}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{137.25, 267}, {300.5, 179.75}}</string>
		<key>Zoom</key>
		<real>4</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Arbeitsfläche 1</string>
				<real>4</real>
				<real>8</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
